<div class="container main-container">
  <h3>Interpolation</h3>

  <p>O número de cliques é: {{contadorClique}}</p>

  <br>
  <br>


  <h3>Property Binding</h3>

  <button class="btn btn-info" [disabled]="contadorClique >= 10">Somar mais um</button>

  <br>
  <br>

  <h3>Event Binding</h3>

  <button class="btn btn-warning" (click)="aumentarContador()">Somar mais um</button>

  <br>
  <br>
  <br>
  <br>

  <h3>Two-way Binding</h3>

  <input type="text" (keyup)="perdaDeFoco($event)" placeholder="Digite seu nome">
  <br>
  <br>
  <label>Seu nome é: {{nome}}</label>

</div>
